bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
zecwallet
zec-qt-wallet
zec-qt-wallet.app
ZecWallet.app
zec-qt-wallet-mingw*
zec-qt-wallet.vcxproj*
zecwallet.vcxproj*
zec-qt-wallet.sln
zec-qt-wallet.pro.user
Makefile
Makefile.*
qrc_application.cpp
zec-qt-wallet_plugin_import.cpp
zecwallet_plugin_import.cpp
zec-qt-wallet_resource*
zecwallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
zcashd
IDEWorkspaceChecks.plist
*.sln
