bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
zecwallet
ZecWallet.app
zecwallet-mingw*
zecwallet.vcxproj*
zecwallet.sln
zecwallet.pro.user
Makefile
Makefile.*
qrc_application.cpp
zecwallet_plugin_import.cpp
zecwallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
*.plist
zcashd
