Package: silentdragon
Version: RELEASE_VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Duke Leto <duke@leto.net>
Description: SilentDragon is a full node and UI wallet for Hush.
 SilentDragon is a full node and UI wallet for Hush. It comes with 
 full support for shielded addresses and many apps for Hush.
