.receivecontainer {
  margin: 16px;
}

.receiveblock {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.receiveDetail {
  margin-top: 16px;
}

.receiveQrcode {
  padding: 8px;
  background-color: white;
}
